body {
    margin : 0;
    padding : 0;
}

.header{
    
    height : 45px;
    width : 100%;
    margin-top : 0;
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-items : center;
    font-family : Arial,Helvetica,Sans-Serif;
    
    background-color : #eee;
    position : fixed;
    
    
}

.header-left {
    margin-left : 90px;
    
    width : 500px;
    
    display : flex;
    align-items : center;
    justify-content : space-evenly;
}

.header-right {
    margin-right : 60px;
    width : 400px;
    display : flex;
    flex-direction : row;
    align-items : center;
    justify-content : space-evenly;
}

 header a{
    text-decoration: none;
    color : #666;
    font-size : 15px;
    font-weight: light;
    
}
.header-left img {
    width : 110px; 
    height : 44px;
}

.header-right img {
    height : 44px;
}

.background-banner {
    border : 0.01px solid white;
    height : 572.5px;
    background-image : url(./background-banner-nvidia.jpg);
    background-size: 125% 572.5px;
    background-repeat: no-repeat;
    margin-left : -500px;
    
    
}

.background-banner-content {
    
    width : 400px;
    height : 330px;
    margin-left : 630px;
    margin-top : 115px;
    font-family : NVIDIA-NALA,Arial,Helvetica,Sans-Serif;
    font-size : 23px;
    color : white;
    font-weight : 700;
}

.background-banner-content h3{
    margin-top : -28px;
    
}

.background-banner-content button {
    height : 42.5px;
    width : 100px;
    margin-top : -50px;
    
    cursor : pointer;
    font-size : 16px;
    font-weight : 700;
    color : white;
    background-color : #76b900;

}

.shop-div {
    background-color : #eee;
    height : 500px;
    margin-top : 0px;
    padding-top : 40px;
    
    

}

.shop-div h1{
    font-size : 31px;
    font-family : Arial,Helvetica,Sans-Serif;
    font-weight : bold;
    text-align : center;

}

.shop-card-container {
    display : flex;
    flex-direction : row;
    justify-content : space-evenly;
    align-items : center;
    
    margin-top :28px;
    
    
}

.shop-card-container a {
    text-decoration : none;
    width : 295px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius : 3px;
    height : 370px;
    background-color : white;
    
    

}

.card1-pic img, .card2-pic img, .card3-pic img, .card4-pic img {
    width : 295px;
    border-top-left-radius : 3px;
    border-top-right-radius : 3px;
}

.card1A {
    margin-left : 95px;
    margin-top : -1px;
}

.card2A {
    margin-top : 0px;
}

.card3A {
    margin-top : 2px;
}

.card4A {
    margin-right : 95px;
    margin-top : 0px;
}

.shop-card-container a {
    font-family : Arial,Helvetica,Sans-Serif;
    color : #1a1a1a;
    
}

.shop-card-container p {
    font-size : 14px;
    line-height : 22px;
    margin-left : 15px;
}

.shop-card-container h3 {
    margin-left : 15px;
}

.gaming-div {
    background-color : #eee;
    height : 500px;
    margin-top : 0px;
    padding-top : 40px;
}

.gaming-card-container {
    display : flex;
    flex-direction : row;
    justify-content : space-evenly;
    align-items : center;
    
    padding-left : 90px;
    padding-right : 90px;
    margin-top : 20px;
}

.a1-gaming {
    margin-top : -1px;
    
}

.a2-gaming {
    margin-top : -2px;
    
}

.a3-gaming {
    margin-top : -2px;
}

.a4-gaming {
    margin-top : -2px;
}

.gaming-card-container a{
    text-decoration : none;
    font-family : Arial,Helvetica,Sans-Serif;
    color : black;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-color : white;
    border-radius : 3px;
    height : 290px;
}

.gaming-div h1{
    text-align : center;
    font-family : Arial,Helvetica,Sans-Serif;
    font-weight : 700;
}

.gaming-card-container img {
    border-top-left-radius : 3px;
    border-top-right-radius : 3px;
}

.gaming-card-container p, h3 {
    margin-left : 15px;
}

.gaming-card-container p {
    font-size : 14px;
}

.news-div {
    background-color : #eee;
    height : 500px;
    margin-top : -60px;
    
}

.news-card-container {
    display : flex;
    flex-direction : row;
    justify-content : space-evenly;
    align-items : center;
    
    padding-left : 90px;
    padding-right : 90px;
    
}

.news-card-container a {
    text-decoration : none;
    font-family : Arial,Helvetica,Sans-Serif;
    width : 295px;
    background-color : white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    height : 375px;
    border-radius : 3px;
    color : black;
}

.news-card-container img {
    width : 295px;
    height : 166px;
    border-top-left-radius : 3px;
    border-top-right-radius : 3px;
}

.a1-news {
    margin-top : -1px;
}

.a2-news {
    margin-top : -1px;
}

.a3-news {
    margin-top : -1px;
}

.a4-news {
    margin-top : -1px;
}

.news-div h1{
    text-align : center;
    font-family : Arial,Helvetica,Sans-Serif;
}

.news-card-container p {
    padding-left : 15px;
    font-size : 15px;
}

.news-div-part2 {
    background-color : #eee;
    
    height : 515px;
}

.news-card-container-part2 {
    display : flex;
    flex-direction : row;
    justify-content : space-evenly;
    align-items : center;
    padding-left : 90px;
    padding-right : 90px;
    
}

.news-card-container-part2 a{
    text-decoration : none;
    font-family : Arial,Helvetica,Sans-Serif;
    color : black;
    background-color : white;
    box-shadow : 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius : 3px;
    height : 450px;
}

.news-card-container-part2 img {
    border-top-left-radius : 3px;
    border-top-right-radius : 3px;
}

.news-card-container-part2 p {
    padding-left : 15px;
    font-size : 15px;
}

.imp-links-div {
    background-color : #000;
    height : 550px;
}

.imp-links-container {
    display : flex;
    justify-content : space-evenly;
    align-items : center;
    color : white;
    font-family : Arial,Helvetica,Sans-Serif;
    width : 1300px;
    margin-left : 100px;
    
    
    
    
}

.imp-links-container a {
    text-decoration : none;
    color : #76b900;
}

.imp-links-container ul {
    list-style-type : none;
}

.imp-links-div1, .imp-links-div2, .imp-links-div3 {
    
    height : 400px;
    width : 400px;
    margin-top : 35px;
}

.imp-links-container h3 {
    font-size : 24px;
}

.links-1 {
    margin-left : -23px;
}

.links-2 {
    margin-left : -23px;
}

.links-3 {
    margin-left : -23px;
}

.imp-links-div1 {
    margin-left : -15px;
}

.imp-links-div2 {
    margin-left : -20px;
    padding-left : 15px;
}

.underline-div1, .underline-div2, .underline-div3 {
    border-top : 1px solid #747474;
    width : 380px;
    
}

.underline-div1 {
    margin-left : 15px;
    margin-top : -15px;
}

.underline-div2 {
    margin-left : 15px;
    margin-top : -14px;
}

.underline-div3 {
    margin-left : 15px;
    margin-top : -13px;
}

.links-1 li, .links-2 li, .links-3 li {
    margin-bottom : 15px;
}

.social-links {
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-items : center;

}

.social-links-container1 {
    display : flex;
    flex-direction : row;
    justify-content : space-around;
    align-items : center;
    color : white;
    
    width : 425px;
    margin-left : 120px;
    font-family : Arial,Helvetica,Sans-Serif;
    font-size : 18px;
    


}

.social-links-container1 button {
    height : 42.5px;
    width : 100px;
    margin-top : -50px;
    font-family : Arial,Helvetica,Sans-Serif;
    cursor : pointer;
    font-size : 16px;
    font-weight : 700;
    color : white;
    background-color : #76b900;
}

.social-links-container2 {
    display : flex;
    flex-direction : row;
    justify-content : space-around;
    align-items : center;
    
    color : #747474;
    font-family : Arial,Helvetica,Sans-Serif;
    margin-right : 100px;
    width : 425px;
    font-size : 14px;
}

.social-links-container2 img {
    width : 38px;
    height : 38px;
}

.footer-div {
    padding-left : 160px;
    padding-right : 140px;
    padding-top : 30px;
    padding-bottom : 20px;
}

.footer-section1 {
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-items : center;
    
}

.footer-section1 img {
    width : 110px;
    height : 25px;
}

.footer-section1 a {
    text-decoration : none;
    font-family : Arial,Helvetica,Sans-Serif;
    color : #CCC;
    font-size : 17px;
    font-weight : bold;
}

.footer-section2 {
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-items : center;
    
    width : 525px;
    margin-top : 20px;
}

.footer-section2 a {
    text-decoration : none;
    font-family : Arial,Helvetica,Sans-Serif;
    color : #666;
}

.footer-section2 div {
    background-color : #666;;
    height : 14px;
    width : 1px;
}

.footer-section3 p {
    font-family : Arial,Helvetica,Sans-Serif;
    color : #666;
    font-size : 12px;
}
.trademark-div {
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-items : center;
    width : 500px;
    margin-left : 160px;
    font-family : Arial,Helvetica,Sans-Serif;
    color : #666;

}

.trademark-div img {
    width : 38px;
    height : 38px;
}