body {
    margin : 0;
    padding : 0;
}

.header{
    
    height : 45px;
    width : 100%;
    margin-top : 0;
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-items : center;
    font-family : Arial,Helvetica,Sans-Serif;
    
}

.header-left {
    margin-left : 90px;
    
    width : 500px;
    
    display : flex;
    align-items : center;
    justify-content : space-evenly;
}

.header-right {
    margin-right : 60px;
    width : 400px;
    display : flex;
    flex-direction : row;
    align-items : center;
    justify-content : space-evenly;
}

 header a{
    text-decoration: none;
    color : #666;
    font-size : 15px;
    font-weight: light;
    
}
.header-left img {
    width : 110px; 
    height : 44px;
}

.header-right img {
    height : 44px;
}

.background-banner {
    border : 0.01px solid white;
    height : 572.5px;
    background-image : url(./background-banner-nvidia.jpg);
    background-size: 125% 572.5px;
    background-repeat: no-repeat;
    margin-left : -500px;
    
    
}

.background-banner-content {
    
    width : 400px;
    height : 330px;
    margin-left : 630px;
    margin-top : 115px;
    font-family : NVIDIA-NALA,Arial,Helvetica,Sans-Serif;
    font-size : 23px;
    color : white;
    font-weight : 700;
}

.background-banner-content h3{
    margin-top : -28px;
    
}

.background-banner-content button {
    height : 42.5px;
    width : 100px;
    margin-top : -50px;
    
    cursor : pointer;
    font-size : 16px;
    font-weight : 700;
    color : white;
    background-color : #76b900;

}

.shop-div {
    background-color : #eee;
    height : 500px;
    margin-top : 0px;
    padding-top : 40px;
    
    

}

.shop-div h1{
    font-size : 31px;
    font-family : Arial,Helvetica,Sans-Serif;
    font-weight : bold;
    text-align : center;

}

.shop-card-container {
    display : flex;
    flex-direction : row;
    justify-content : space-evenly;
    align-items : center;
    
    margin-top :28px;
    
    
}

.shop-card-container a {
    text-decoration : none;
    width : 295px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius : 3px;
    height : 370px;
    background-color : white;
    
    

}

.card1-pic img, .card2-pic img, .card3-pic img, .card4-pic img {
    width : 295px;
    border-top-left-radius : 3px;
    border-top-right-radius : 3px;
}

.card1A {
    margin-left : 95px;
    margin-top : -1px;
}

.card2A {
    margin-top : 0px;
}

.card3A {
    margin-top : 2px;
}

.card4A {
    margin-right : 95px;
    margin-top : 0px;
}

.shop-card-container a {
    font-family : Arial,Helvetica,Sans-Serif;
    color : #1a1a1a;
    
}

.shop-card-container p {
    font-size : 14px;
    line-height : 22px;
    margin-left : 15px;
}

.shop-card-container h3 {
    margin-left : 15px;
}

.gaming-div {
    background-color : #eee;
    height : 500px;
    margin-top : 0px;
    padding-top : 40px;
}

.gaming-card-container {
    display : flex;
    flex-direction : row;
    justify-content : space-evenly;
    align-items : center;
    
    padding-left : 90px;
    padding-right : 90px;
    margin-top : 20px;
}

.a1-gaming {
    margin-top : -1px;
    
}

.a2-gaming {
    margin-top : -2px;
    
}

.a3-gaming {
    margin-top : -2px;
}

.a4-gaming {
    margin-top : -2px;
}

.gaming-card-container a{
    text-decoration : none;
    font-family : Arial,Helvetica,Sans-Serif;
    color : black;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-color : white;
    border-radius : 3px;
    height : 290px;
}

.gaming-div h1{
    text-align : center;
    font-family : Arial,Helvetica,Sans-Serif;
    font-weight : 700;
}

.gaming-card-container img {
    border-top-left-radius : 3px;
    border-top-right-radius : 3px;
}

.gaming-card-container p, h3 {
    margin-left : 15px;
}

.gaming-card-container p {
    font-size : 14px;
}


